

.analytics-page {
  padding: 30px 40px;
  width: 100%;
  background: #f7f9fb;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.page-header {
  font-size: 26px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 30px;
}




.analytics-section {
  background: #fff;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.05);
  margin-bottom: 40px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.green-title {
  color: #00D907;
  font-size: 24px;
  font-weight: 600;
}

.dots-menu {
  font-size: 24px;
  color: #a0a0a0;
  cursor: pointer;
}
.chart-container-large {
  width: 100%;
  height: 320px;         
  position: relative;    
}




.metrics-grid {
  display: grid;
  grid-template-columns: 1fr 200px;
  row-gap: 45px;
  column-gap: 20px;
  margin-top: 40px;
}

.metric-item {
  padding-right: 25px;
}

.metric-title {
  font-size: 20px;
  font-weight: 600;
  color: #00b44b;
  margin-bottom: 10px;
}

.black-title {
  color: #111827 !important;
}

.metric-desc {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
  max-width: 500px;
}




.metric-value-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.green-large-value {
  font-size: 32px;
  font-weight: 700;
  color: #00b44b;
}

.unit {
  font-size: 16px;
  color: #555;
  margin-left: 5px;
}



.donut-wrapper {
  position: relative;
  width: 110px;
  height: 110px;
}

.donut-wrapper canvas {
  height: 110px !important;
  width: 110px !important;
}

.donut-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: #00b44b;
}




.loading-screen {
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
  color: #777;
}






@media (max-width: 768px) {

  .analytics-page {
    padding: 20px;
  }


  .metrics-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }


  .chart-container-large {
    width: 100%;
    height: 260px !important;  
    position: relative;
  }
}



