
.pricing-section {
  font-family: 'Inter', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  background-color: #fff;
}

/* --- Section Header --- */
.pricing-header {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 60px auto;
}

.pricing-header h2 {
  font-size: 44px;
  font-weight: 800;
  color: #30404D;
  margin-bottom: 24px;
}

.pricing-header p {
  font-size: 18px;
  line-height: 140%;
  color: #30404D; 
}


.pricing-container {
  display: flex;
  justify-content: center;
  gap: 24px; 
  align-items: stretch; 
}


.pricing-card {
  flex: 1; 
  max-width: 588px;
  height: 709px;
  border: 1px solid #E5E7EB; 
  border-radius: 24px; 
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  overflow: hidden;
}




.plan-name {
  font-size: 36px;
  font-weight: 800;
  color: #30404D;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
}


.plan-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #30404D;
  opacity: 0.7;
  margin-bottom: 60px;
  min-height: 50px; 
}


.price-block {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
  gap: 14px;
}

.currency {
  font-size: 54px;
  font-weight: 800;
  color: #3A7ABD; 
  line-height: 140%;
}

.period {
  font-size: 20px;
  font-weight: 500;
  color: #98A8B3; /* Light Gray */
  font-weight: 400;
  line-height: 140%;
}

/* "What's included" Label */
.features-label {
  font-size: 18px;
  font-weight: 800;
  color: #30404D;
  margin-bottom: 20px;
  line-height: 140%;
}

/* List of Features */
.feature-list {
    display: flex;
    flex-direction: column;
    gap: 5px !important;
    list-style: none !important;
    padding: 0;
    margin: 0 0 40px 0;
    flex-grow: 1;
}


.feature-list li {
  display: flex;
  align-items: flex-start;
 
  gap: 16px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #30404D; 
  line-height: 1.4;
}


.feature-list li img {
  width: 24px;
  height: 24px;
  flex-shrink: 0; 
}


.btn-plan {
  width: 100%;
  padding: 18px 0;
  background-color: transparent;
  border: 1px solid #d3d5d9; 
  border-radius: 50px; 
  color: #1C355E; 
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  
  margin-top: 60px;
}

.btn-plan:hover {
  border-color: #1C355E;
  background-color: #F9FAFB;
}


@media (max-width: 1024px) {
.price-block{
  margin-top: 50px;
}
}
@media (max-width: 768px) {
.pricing-section{
  display: none;
}
}