
.sidebar-container {
  width: 100px; 
  height: 100vh;
  background-color: #00000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.05);
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.sidebar-link-wrapper {
  text-decoration: none; 
  width: 100%;
  display: flex;
  justify-content: center;
}


.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  transition: all 0.3s ease;
  color: #a00c0c; 
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: grayscale(100%); 
}


.sidebar-label {
  display: none; 
  font-size: 10px;
  margin-top: 6px;
  font-weight: 500;
  text-align: center;
  color:#B1B1B1 ;
}



.sidebar-item.active {
  background-color: transparent; 
  color: #000000; 
  height: auto; 
  padding: 10px 0;
  box-shadow: none; 
}


.sidebar-item.active .sidebar-icon {

  filter: grayscale(100%) brightness(0); 
}


.sidebar-item.active .sidebar-label {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}