body {
  font-family: 'Inter', sans-serif;
  background-color: #F8F9FF; 
  color: #1F2937;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 20px;
  gap: 10px;
  overflow: visible; 
}


.hero-content {
  flex: 1;
  max-width: 666px;
  z-index: 10;
}

.hero-content h1 {
    text-align: left;
  font-size: 40px; 
  font-weight: bold;
  line-height: 1.1;
  color: #30404D; 
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: -2%;
  line-height: 110%;
}

.hero-content p {
  font-size: 16px;
  line-height: 140%;
  color: #30404D; 
  margin-bottom: 40px;
  max-width: 90%;
}

/* --- Buttons --- */
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}


.btn-primary {
  background-color: #1C355E;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(28, 53, 94, 0.2);
}

.btn-primary:hover {
  background-color: #2c4a7c;
  transform: translateY(-1px);
}


.btn-outline {
  background-color: transparent;
  color: #374151;
  padding: 14px 10px;
  font-weight: 600;
  gap: 10px;
}

.btn-outline img {
  width: 24px; 
  height: 24px;
  display: block;
  
}

.btn-outline:hover {
  color: #1C355E;
}


.hero-image {
  flex: 1;
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.hero-image img {
  position: absolute;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); 
  background: white; 
}


.hero-image img:nth-of-type(1) {
  position: relative; 
  width: 65%; 
  height: auto;
  z-index: 1;
  object-fit: cover;

}


.hero-image img:nth-of-type(2) {
  width: 220px; 
  top: 4%;        
  right: 5%;      
  z-index: 2;

}


.hero-image img:nth-of-type(3) {
  width: 160px;
  bottom: 1%;      
  right: 2%;       
  z-index: 3;

}


.hero-image img:nth-of-type(4) {
  width: 190px;
  bottom: -5%;      
  left: 5%;         
  z-index: 3;

}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}




@media (max-width: 768px) {
.hero{
  display: none;
}
}